body{
  background-color: #EFEFEF;
}
.category-container {
  max-width: 1440px;
  margin: 1rem auto 2.7rem;
  cursor: pointer;
}
.Card {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.Card:hover {
  filter: brightness(108%)!important;
}

.Box:hover {
  color: black;
}