body{
  background-color: #EFEFEF;
  min-height: 100vh;
}
.category-container {
  max-width: 1440px;
  margin: 1rem auto 2.7rem;
  cursor: pointer;
}
.Card {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.Card:hover {
  filter: brightness(108%)!important;
}

.Box:hover {
  color: black;
}

.Button:hover {
  color: black;
  background-color: rgb(187, 255, 232)!important;
}

.list-category{
  border: 1px solid rgb(18, 35, 68);
  border-top: none;
  border-bottom: none;
}

a {
  text-decoration: none;
}

.Button :hover{
  background-color: rgb(62, 62, 62)!important;
  color: white;
}
body{
  background-color: #efefef;
}